@keyframes bgPosition {
  100% {
    background-position: 3rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: #36cbff;
  color: #eee; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.primary-heading {
  color: #fff;
  text-transform: uppercase; }
  .primary-heading--name {
    display: block;
    font-size: 6.2rem;
    font-weight: 300;
    letter-spacing: 1.3rem; }
  .primary-heading--sub {
    display: block;
    font-weight: 400;
    letter-spacing: .5rem; }

.secondary-heading {
  width: 60%;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 1rem; }
  .secondary-heading--blue {
    background-image: radial-gradient(at top center, #36cbff 30%, #06729a 60%);
    -webkit-background-clip: text;
    color: transparent;
    background-position: -15rem 0;
    transition: background-position 1s linear; }
  .secondary-heading--white {
    color: #eee; }

.terciary-heading {
  width: 30rem;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .3rem; }
  .terciary-heading--blue {
    background-image: radial-gradient(at top center, #36cbff 25%, #06729a 55%);
    -webkit-background-clip: text;
    color: transparent;
    background-position: -8rem 0;
    transition: background-position 1s linear; }
  .terciary-heading--white {
    color: #eee; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-bottom-xsmall {
  margin-bottom: 1rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-padding-bottom-big {
  padding-bottom: 8rem !important; }

.about__image {
  margin: 4rem;
  width: 27rem;
  height: 27rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
  background-image: radial-gradient(at left top, #36cbff 25%, #06729a 55%);
  transition: 2s; }

.about__photo {
  position: absolute;
  margin: 1rem;
  width: 25rem;
  height: 25rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transition: 2s; }

.about__text {
  font-size: 2rem;
  text-align: justify; }

.about:hover .about__text > .terciary-heading {
  background-position: 0 0; }

.about:hover .about__image {
  transform: rotate(90deg) scale(1.05); }

.about:hover .about__photo {
  transform: rotate(-90deg); }

.details__items {
  padding: 2rem;
  padding-top: 1rem; }
  .details__items:hover .details__items--icon {
    transform: scale(1.1); }
  .details__items:hover .details__items--text {
    width: 100%;
    background-image: radial-gradient(at top center, #36cbff 25%, #06729a 55%);
    -webkit-background-clip: text;
    color: transparent;
    background-position: -3rem;
    animation: bgPosition 1.5s linear 1 both; }
  .details__items--icon {
    font-size: 2rem;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, #36cbff, #06729a);
    color: transparent;
    float: left;
    transition: 1s ease-in-out; }
    .details__items--icon-social:not(:first-child) {
      margin-left: 2rem; }
  .details__items--text {
    font-size: 1.8rem;
    margin-left: 2rem; }
    .details__items--text-small {
      font-size: 1.6rem; }

.details:hover .terciary-heading {
  background-position: 0 0; }

.pro-skills__list {
  list-style: none;
  padding: 2rem 4rem; }

.pro-skills__item {
  font-size: 1.8rem;
  color: #eee;
  border-radius: 3rem;
  text-align: left;
  padding: 1rem 4rem;
  position: relative;
  transition: all .6s ease-in-out; }
  .pro-skills__item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #FFF; }

.pro-skills__rating {
  width: 15rem;
  height: 1rem;
  background-image: linear-gradient(to right bottom, #fff 55%, #777 99%);
  color: transparent;
  border-radius: 1rem;
  position: absolute;
  right: 4.5rem;
  top: 50%;
  transform: translateY(-50%); }
  .pro-skills__rating::after {
    content: "";
    width: 10rem;
    height: 1rem;
    border-radius: 1rem;
    display: inline-block;
    transform: translateY(-119%);
    background-image: linear-gradient(to right bottom, #36cbff, #06729a);
    color: transparent; }

.header {
  height: 90vh;
  width: 100%;
  background: linear-gradient(to right bottom, #0292c4, #06729a);
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%); }

.section-profile:hover div > .secondary-heading--blue {
  background-position: 10rem 0; }

.section-experience {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom, #0292c4, #06729a); }
