@mixin clearfix{ //ClearFix append a pseudo element after the element which will then clear these floats
    &::after{
        content:""; //content property so the pseudo element will mot appear on the page. Empty beacuse we don't want to see it.
        display: table; // standars version of clearfix, use display:table;
        clear: both; //clear both float, left or right;
    }
}

@mixin backgroundImage__Header--Secondary {
    background-image: radial-gradient(at top center, $color-primary-light 30%, $color-primary-dark 60%);
    -webkit-background-clip: text;
    color: transparent;
    background-position: -15rem 0;
}

@mixin backgroundImage__Header--Terciary {
    background-image: radial-gradient(at top center, $color-primary-light 25%, $color-primary-dark 55%);
    -webkit-background-clip: text;
    color: transparent;
    background-position: -8rem 0;
}

@mixin backgroundImage__Icon {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    color: transparent;
}
@mixin backgroundImage__Icon--Hover {
    background-image: linear-gradient(to left bottom, $color-primary-light, $color-primary-dark);
    color: transparent;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}