@mixin clearfix{
    &::after{
        content:"";
        display: table;
        clear: both;
    }
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

@mixin backgroundImage__Header--Secondary-Blue {
    background-image: radial-gradient(at top center, $color-primary-light 30%, $color-primary-dark 60%);
    -webkit-background-clip: text;
    color: transparent;
    background-position: -15rem 0;
}

@mixin backgroundImage__Header--Secondary-White {
    background-image: radial-gradient(at top center, #baeafb 30%, #5391a7 60%);
    -webkit-background-clip: text;
    color: transparent;
    background-position: -15rem 0;
}

@mixin backgroundImage__Header--Terciary {
    background-image: radial-gradient(at top center, $color-primary-light 25%, $color-primary-dark 55%);
    -webkit-background-clip: text;
    color: transparent;
    background-position: -8rem 0;
}

@mixin backgroundImage__Header--Terciary-White {
    background-image: radial-gradient(at top center, #baeafb 25%, #9ad9ef 55%);
    -webkit-background-clip: text;
    color: transparent;
    background-position: -8rem 0;
}

@mixin backgroundImage__Icon {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    color: transparent;
}
@mixin backgroundImage__Icon--Hover {
    background-image: linear-gradient(to left bottom, $color-primary-light, $color-primary-dark);
    color: transparent;
}

@mixin rating($score){
    width: $rating-white-bar-width;
    height: 1rem;
    background-image: linear-gradient(to right bottom, $color-white 55%, $color-grey-dark-1 99%);
    color: transparent;
    border-radius: 1rem;
    position: absolute;
    right: 4.5rem;
    top: 50%;
    transform: translateY(-50%);

    &::after{
        content: "";
        width: ratingBar($rating-white-bar-width, $score);
        height: 1rem;
        border-radius: 1rem;
        display: inline-block;
        transform: translateY(-120%);
        @include backgroundImage__Icon;
    }
}