.header{
    height: 90vh;
    width: 100%;
    background: linear-gradient(
        to right bottom,
        rgba($color-primary, 1) ,
        rgba($color-primary-dark, 1)
    );
    position: relative;

    &__text-box{
        @include center;
    }
}