body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-gray-dark-1;

}


.primary-heading{
    color: $color-white;
    text-transform: uppercase;

    &--name{
        display: block;
        font-size: 6.2rem;
        font-weight: 300;
        letter-spacing: 1.3rem;
    }

    &--sub{
        display: block;
        // font-size: 4.8rem;
        font-weight: 400;
        letter-spacing: .5rem;
    }
}

.secondary-heading{
    width: 60%;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    @include backgroundImage__Header--Secondary;
    letter-spacing: 1rem;
    transition: background-position 1s linear;
}

.terciary-heading{
    width: 10em;
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    @include backgroundImage__Header--Terciary;
    letter-spacing: .3rem;
    transition: background-position 1s linear;
}